{% extends 'base.html' %}

{% block content %}

<style>
.block-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.text-block {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background: #f5f5f5;
}
</style>

<h1 class="mb-4">Pages - this text is edited in home.html</h1>
<h2>Text Blocks</h2>

<div class="block-container">

    {% for block in blocks %}
        <div class="text-block">

            <h3>{{ block.title }}</h3>

            <p>{{ block.content }}</p>

            <a href="{% url 'edit_block' block.id %}">
                Edit
            </a>

            <a href="{% url 'delete_block' block.id %}">
                Delete
            </a>

        </div>
    {% endfor %}

</div>


<div class="row mt-4">

{% for page in pages %}
<div class="col-md-4 mb-4">
    <div class="card h-100 shadow-sm">

        {% if page.featured_image %}
        <img src="{{ page.featured_image.url }}" class="card-img-top">
        {% endif %}

        <div class="card-body">
            <h5>{{ page.title }}</h5>

            <a href="/page/{{ page.slug }}/" class="btn btn-primary mt-2">
                Read More
            </a>
        </div>
    </div>
</div>
{% endfor %}

</div>

{% endblock %}
